.App {
  
}
#Title
{
  text-align: center;
}
#Text
{
  text-align: center;
}
input
{
  border-radius: 12px;
}
#Login
{
  margin-left: 300px;
}
#Button
{
  margin-top: 200px;
  margin-left: 700px;
  background-color: rgba(0, 0, 255, 0.61);
  border: 2px solid black;
}